
@{
    ViewBag.Title = "RazorPractice01";

}

<h2>RazorPractice01</h2>

@{

}
<p>test1:@foreach (int i in ViewBag.data)
{@i}</p>
<h3>test2 (string.join):</h3>
@{
    var q = string.Join(" ", ViewBag.data);
    @q
}

<h3>test3 (foreach):</h3>
@foreach (var value in ViewBag.data)
{
    @(value + " ")
}
<p>
    test3:<ul>
        @foreach (int i in ViewBag.data)
        {
            <li>@i</li>
}
    </ul>
</p>